<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Page Title -->
    <title>Qamous - Listing and Directory HTML Template</title>
    
    <!--- Font Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/icomoon.css">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Plugins css -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Theme Style -->
    <link rel="stylesheet" href="style.css">
    
    <!-- Modernizr js -->
    <script src="assets/js/modernizr.min.js"></script>
</head>
<body>
    <!--********************************************************-->
    <!--********************* SITE HEADER **********************-->
    <!--********************************************************-->
    <header class="site-header header-style-one">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Site Navigation
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="site-navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar navbar-expand-lg navigation-area">
                            <div class="site-logo-block">
                                <a class="navbar-brand site-logo" href="index.html">
                                    <img src="assets/images/logo/logo.png" alt="logo">
                                </a>  
                            </div><!--~./ site-logo-block ~-->
                            
                            <div class="mainmenu-area">
                                <nav class="menu">
                                    <ul id="nav">
                                        <li class="dropdown-trigger"><a href="#">Home</a>
                                            <ul class="dropdown-content">
                                                <li><a href="index.html">Home one</a></li>
                                                <li><a href="index02.html">Home two </a></li>
                                                <li><a href="index03.html">Home Three </a></li>
                                                <li><a href="index04.html">Home four </a></li>
                                                <li><a href="index05.html">Home five </a></li>
                                                <li><a href="index06.html">Home Six </a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-trigger mega-menu">
                                            <a href="#">Explore <span class="menu-label new">new</span></a>
                                            <div class="mega-menu-content carousel-nav-dots owl-carousel">
                                                <a class="cat-item" href="listing-grid.html">
                                                    <div class="cat-thumb">
                                                        <img src="http://via.placeholder.com/335x270" alt="cat">
                                                    </div>
                                                    <span class="cat-name">Beauty</span>
                                                </a>
                                                <a class="cat-item" href="listing-grid.html">
                                                    <div class="cat-thumb">
                                                        <img src="http://via.placeholder.com/335x270" alt="cat">
                                                    </div>
                                                    <span class="cat-name">Food & Drinks</span>
                                                </a>
                                                <a class="cat-item" href="listing-grid.html">
                                                    <div class="cat-thumb">
                                                        <img src="http://via.placeholder.com/335x270" alt="cat">
                                                    </div>
                                                    <span class="cat-name">Hotels</span>
                                                </a>
                                                <a class="cat-item" href="listing-grid.html">
                                                    <div class="cat-thumb">
                                                        <img src="http://via.placeholder.com/335x270" alt="cat">
                                                    </div>
                                                    <span class="cat-name">Automotive</span>
                                                </a>
                                                <a class="cat-item" href="listing-grid.html">
                                                    <div class="cat-thumb">
                                                        <img src="http://via.placeholder.com/335x270" alt="cat">
                                                    </div>
                                                    <span class="cat-name">Travels</span>
                                                </a>
                                                <a class="cat-item" href="listing-grid.html">
                                                    <div class="cat-thumb">
                                                        <img src="http://via.placeholder.com/335x270" alt="cat">
                                                    </div>
                                                    <span class="cat-name">Shopping</span>
                                                </a>
                                                <a class="cat-item" href="listing-grid.html">
                                                    <div class="cat-thumb">
                                                        <img src="http://via.placeholder.com/335x270" alt="cat">
                                                    </div>
                                                    <span class="cat-name">Nightlife</span>
                                                </a>
                                            </div><!--/.mega-menu-content-->
                                        </li>
                                        <li class="dropdown-trigger"><a href="#">Listing</a>
                                            <ul class="dropdown-content">
                                                <li><a href="listing-grid.html">Listing Grid</a></li>
                                                <li><a href="listing-list.html">Listing List</a></li>
                                                <li><a href="listing-map-one.html">Listing map one</a></li>
                                                <li><a href="listing-map-two.html">Listing map two</a></li>
                                                <li><a href="listing-map-three.html">Listing map three</a></li>
                                                <li><a href="listing-details.html">Listing details one</a></li>
                                                <li><a href="listing-details-two.html">Listing details two</a></li>
                                                <li><a href="listing-details-three.html">Listing details three</a></li>
                                                <li><a href="listing-details-four.html">Listing details four</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-trigger">
                                            <a href="#">Pages <span class="menu-label">Hot</span></a>
                                            <ul class="dropdown-content">
                                                <li><a href="about.html">About us</a></li>
                                                <li><a href="pricing.html">pricing</a></li>
                                                <li><a href="dashboard.html">dashboard</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                                <li><a href="howitwork.html">How it work</a></li>
                                                <li><a href="blog.html">Blog Grid</a></li>
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                                <li><a href="post-details.html">Post details</a></li>
                                                <li><a href="single-shop.html">single product</a></li>
                                                <li><a href="404.html">404</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav><!--/.menu-->
                            </div><!--~./ mainmenu-wrap ~-->
                            
                            <div class="header-navigation-right">
                                <div class="header-card-area">
                                    <a href="#">
                                        <span class="icon-paper-bag"></span>
                                        <sup>2</sup>
                                    </a>
                                    <div class="cart-list">
                                        <div class="cart-item">
                                            <div class="product-thumb">
                                                <img alt="Single product" src="http://via.placeholder.com/70x70">
                                            </div><!--~./ product-thumb ~-->
                                            <div class="product-info">
                                                <h4 class="title">Blue Berry Jacket</h4>
                                                <div class="price">$15.00 <span>X2</span></div>
                                                <div class="icon-closed">
                                                    <a href="#"><i class="fa fa-close"></i></a>
                                                </div>
                                            </div><!--~./ product-info ~-->
                                        </div><!--~./ cart-item ~-->
                                        
                                        <div class="cart-item">
                                            <div class="product-thumb">
                                                <img alt="Single product" src="http://via.placeholder.com/70x70">
                                            </div><!--~./ product-thumb ~-->
                                            <div class="product-info">
                                                <h4 class="title">Back Pack Youth Less</h4>
                                                <div class="price">$15.00 <span>X3</span></div>
                                                <div class="icon-closed">
                                                    <a href="#"><i class="fa fa-close"></i></a>
                                                </div>
                                            </div><!--~./ product-info ~-->
                                        </div><!--~./ cart-item ~-->

                                        <div class="order-total">
                                            <h4 class="order">Sub Total<span class="amount">$166</span></h4>
                                        </div>
                                        
                                        <div class="cart-btn-group">
                                            <a href="cart.html" class="btn btn-default btn-default2">view card</a>
                                            <a href="checkout.html" class="btn btn-default">Checkout</a>

                                        </div>
                                    </div>
                                </div><!--~./ site-logo-block ~-->
                                
                                <div class="search-wrap">
                                    <div class="search-btn" data-toggle="modal" data-target="#header_search_model">
                                        <span class="icon icon-search32"></span>
                                        <span class="text">Search</span>
                                    </div>
                                </div><!--~./ search-wrap ~-->
                                
                                
                                <div class="user-registration-area dropdown">
                                    <a class="user-reg-btn" href="#" data-toggle="modal" data-target="#reg_form_model">
                                        <span class="icon icon-user-1"></span>
                                        <span class="text">Register</span>
                                    </a>
                                </div>
                                <div class="add-listing-area">
                                    <a class="btn btn-default" href="add-listing.html">+ add listing</a>
                                </div>
                            </div><!--~./ header-navigation-right ~-->
                        </div><!--~./ navigation-area ~-->
                    </div>
                </div>
            </div>
        </div><!--~./ site-navigation ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Mobile Menu
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="mobile-menu">
            <a class="mobile-logo" href="index.html">
                <img src="assets/images/logo/mobile-logo.png" alt="logo">
            </a>
        </div><!--~~./ end mobile menu ~~-->
    </header>
    <!--~~~ Sticky Header ~~~-->
    <div id="sticky-header"></div><!--~./End site header ~-->
    
    
    <!--********************************************************-->
    <!--********************* SITE CONTENT *********************-->
    <!--********************************************************-->
    <div class="site-content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Error Page Section
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="error-page-section bg-gray2 ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="error-page-content">
                            <h2>This page not be found</h2>
                            <p>We are really sorry, but the page you requested is missing.. Perhaps searching again can help. Or back to <a href="index.html">home page</a></p>
                            <div class="search-form-area">
                                <form class="search-form" action="#" method="get">
                                    <div class="input-group">
                                        <input type="search" name="s" class="form-controllar" placeholder="What are you looking for?">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit" id="submit-btn">search now</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div><!--/.error-page-content-->
                    </div><!--/.col-lg-6-->
                    <div class="col-lg-6">
                        <div class="error-thumbnail text-center">
                            <img src="http://via.placeholder.com/445x543" alt="Error">
                        </div><!--/.error-thumbnail-->
                    </div>
                </div><!--/.row-->
            </div>
        </section><!--~./ end error page section ~-->
    </div>
    <!--~./ end site content ~-->
    
    
    <!--********************************************************-->
    <!--********************** SITE FOOTER *********************-->
    <!--********************************************************-->
    <footer class="site-footer footer-default-style footer-style-two bg-image bg-overlay" style="background-image:url('http://via.placeholder.com/1920x475')">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Footer Widget Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="footer-widget-area ptb-100">
            <div class="container">
                <div class="row">
                    <!--~~~~~ Start Widget About Footer ~~~~~--> 
                    <div class="col-lg-3">
                        <aside class="widget bt-about-footer-widget">
                            <div class="widget-content">
                                <div class="about-logo">
                                    <a href="index.html"><img src="assets/images/logo/footer-logo2.png" alt="Logo"></a>
                                </div>
                                <p>Sitting on a working-class comme dows of an easy above-grounding rail line group called Make the art Road New York's busy street</p>
                                <ul class="social-share">
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </aside>
                    </div><!--~./ end about footer widget ~-->
                    
                    <!--~~~~~ Start Widget List ~~~~~-->
                    <div class="col-lg-4">
                        <aside class="widget widget-list style-two">
                            <h2 class="widget-title">Featured Cities</h2>
                            <div class="widget-content">
                                <ul>
                                    <li><a href="#">Alaska</a></li>
                                    <li><a href="#">Mississippi</a></li>
                                    <li><a href="#">California</a></li>
                                    <li><a href="#">New Jersey</a></li>
                                    <li><a href="#">Colorado</a></li>
                                    <li><a href="#">New York</a></li>
                                    <li><a href="#">Florida</a></li>
                                    <li><a href="#">Oklahoma</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div><!--~./ end widget list ~-->
                    
                    <!--~~~~~ Start Widget List ~~~~~-->
                    <div class="col-lg-2">
                        <aside class="widget widget-list">
                            <h2 class="widget-title">Help</h2>
                            <div class="widget-content">
                                <ul>
                                    <li><a href="#">How It Works</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                    <li><a href="#">Support Center</a></li>
                                    <li><a href="#">Pricing Packages</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div><!--~./ end widget list ~-->
                    
                    <!--~~~~~ Start Subscribe Widget~~~~~-->
                    <div class="col-lg-3">
                        <aside class="widget tb-subscribe-widget">
                            <h4 class="widget-title">Subscribe With Us</h4>
                            <div class="widget-content">
                                <div class="subscribe-box">
                                    <p>Subscribe to our mailing list to get the new updates!</p>
                                    <div class="subscribe-form">
                                        <!-- Subscribe form -->
                                        <form class="dv-form" id="mc-form">
                                            <div class="form-group">
                                                <input id="mc-email" name="EMAIL" placeholder="Enter Your Email Address" type="email">
                                                <button class="btn btn-default" name="Subscribe" id="subscribe-btn" type="submit">Subscribe Now</button>
                                            </div>
                                        </form>
                                     </div>
                                </div>
                            </div>
                        </aside>
                    </div><!--~./ end subscribe widget ~-->
                </div>
            </div>
        </div><!--~./ end footer widgets area ~-->
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Footer Bottom Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright-text">
                            <p>© Copyright 2019 Qamous. All Rights Reserved</p>
                        </div>
                    </div><!--~./ end copyright ~-->
                    <div class="col-lg-6  col-md-6">
                        <div class="footer-bottom-right">
                            <p>Made <i class="fa fa-heart"></i> With <a href="#">RadiuzZ</a></p>
                        </div><!--~./ end footer menu ~-->
                    </div>
                </div>
            </div>
        </div><!--~./ end footer bottom area ~-->
    </footer>
    <!--~./ end site footer ~-->
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Header Search Model
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="header_search_model" class="header-search-model modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog header-search-area" role="document">
            <div class="header-search-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <img src="assets/images/icon/close.png" alt="close">
                    </button>
                </div>
                <div class="search-form modal-content">
                    <form action="#">
                        <input type="search" placeholder="Baracelo Hotels & Spa Resort">
                        <button type="submit"><span class="icon-search32"></span></button>
                    </form>
                    <div class="search-by-cat">
                        <a href="#" class="single-cat restaurant">
                            <div class="icon">
                                <span class="icon-fast-food"></span>
                            </div>
                            <div class="text">
                                Restaurants
                            </div>
                        </a><!--~./ single-cat ~-->
                        <a href="#" class="single-cat beauty">
                            <div class="icon">
                                <span class="icon-grooming"></span>
                            </div>
                            <div class="text">
                                Beauty
                            </div>
                        </a><!--~./ single-cat ~-->
                        <a href="#" class="single-cat automotive">
                            <div class="icon">
                                <span class="icon-wrench"></span>
                            </div>
                            <div class="text">
                                Automotive
                            </div>
                        </a><!--~./ single-cat ~-->
                        <a href="#" class="single-cat hotel">
                            <div class="icon">
                                <span class="icon-building"></span>
                            </div>
                            <div class="text">
                                Hotels
                            </div>
                        </a><!--~./ single-cat ~-->
                    </div>
                </div><!--~./ search-form ~-->
            </div>
        </div>
    </div><!--~./ end header search model ~-->
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start User Registation Model
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="reg_form_model" class="user-reg-form-area modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog register-modal-area" role="document">
            <div class="register-modal-area-outer-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <img src="assets/images/icon/close.png" alt="close">
                    </button>
                </div>
                <div class="modal-content user-register-area">
                    <!--~~~ Start User Signin Area ~~~--> 
                    <div class="user-signin-area">
                        <div class="user-left-thumb">
                            <img src="http://via.placeholder.com/270x490" alt="thumb">
                        </div>

                        <div class="form-content">
                            <div class="form-content-signin">
                                <h3>Login to Account</h3>
                                <form class="default-form signin-form">
                                    <div class="form-group">
                                        <input id="email" name="email" class="form-controllar" type="email" placeholder="Email Address">
                                    </div><!--/.form-group-->

                                    <div class="form-group">
                                        <input id="pass" name="password" class="form-controllar" type="password" placeholder="Password">
                                    </div><!--/.form-group-->

                                    <div class="remember-and-password">
                                        <div class="login-form-remember"> 
                                            <label><input id="remembermesignin" value="" type="checkbox"><span>Remember Me</span></label>
                                        </div>
                                        <div class="forget-pass">
                                            <a class="btn-password" href="#">Forget Password</a>
                                        </div>
                                    </div><!--/.remember-and-password-->

                                    <div class="form-btn-group">
                                        <button type="submit" class="btn btn-default">
                                            sign in
                                        </button>
                                        <div class="reg-others-midea">
                                            <div class="text">
                                                Or Login With
                                            </div>
                                            <div class="midea-icons">
                                                <ul class="social-share">
                                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </form>  
                                <div class="login-form-register-now">
                                    Dont have an account? <a class="btn-register-now" href="#">Register Now</a>
                                </div>
                            </div>
                            <div class="form-content-password">
                                <h3>Account recovery</h3>
                                <form class="default-form password-form">
                                    <div class="form-group">
                                        <input id="re-email" name="email" class="form-controllar" type="email" placeholder="Email Address">
                                    </div><!--/.form-group-->
                                    
                                    <div class="form-group">
                                        <input id="re-pass-up" name="password" class="form-controllar" type="password" placeholder="Password">
                                    </div><!--/.form-group-->

                                    <div class="form-group">
                                        <input id="re-pass-up-confirm" name="password" class="form-controllar" type="password" placeholder="Confirm Password">
                                    </div><!--/.form-group-->

                                    <div class="form-btn-group pt-10">
                                        <button type="submit" class="btn btn-default btn-recet">
                                            recet password
                                        </button>
                                        <button type="button" class="btn btn-primary btn-back">Back</button>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div><!--~./ end user signin area ~--> 
                    <!--~~~ Start User Signup Area ~~~--> 
                    <div class="user-signup-area">

                        <div class="user-left-thumb">
                            <img src="http://via.placeholder.com/270x570" alt="thumb">
                        </div>

                        <div class="form-content">
                            <h3>Create an Account</h3>
                            <form id="signup-form" class="default-form signup-form" method="post">
                                <div class="form-group">
                                    <input id="name" name="name" class="form-controllar" type="text" placeholder="Username">
                                </div><!--/.form-group-->
                                <div class="form-group">
                                    <input id="email-up" name="email" class="form-controllar" type="email" placeholder="Email Address">
                                </div><!--/.form-group-->
                                <div class="form-group">
                                    <input id="pass-up" name="password" class="form-controllar" type="password" placeholder="Password">
                                </div><!--/.form-group-->
                                
                                <div class="form-group">
                                    <input id="pass-up-confirm" name="password" class="form-controllar" type="password" placeholder="Confirm Password">
                                </div><!--/.form-group-->
                                
                                <div class="login-form-remember"> 
                                    <label><input id="remembermesignup" value="" type="checkbox"><span>I Agree to the </span> <a href="#">Privacy Policy</a></label>
                                </div>
                                <div class="form-btn-group">
                                    <button type="submit" class="btn btn-default btn-register">
                                        register
                                    </button>
                                    <button type="button" class="btn btn-primary btn-signin">
                                        sign in
                                    </button>
                                    <div class="reg-others-midea">
                                        <div class="text">
                                            Or Connect With
                                        </div>
                                        <div class="midea-icons">
                                            <ul class="social-share">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form> 
                        </div>
                    </div><!--~./ end user signup area ~--> 
                </div>
            </div>
        </div>
    </div><!--~./ end user registation model ~-->
    
    
    <!-- jQuery js -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Popper js -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Owl carousel js -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Masonary js -->
    <script src="assets/js/masonary.min.js"></script>
    <!-- Trackpad Scroll js -->
    <script src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <!-- Sticky ResizeSensor js -->
    <script src="assets/js/ResizeSensor.min.js"></script>
    <!-- Sticky Sidebar js -->
    <script src="assets/js/theia-sticky-sidebar.min.js"></script>
    <!-- Sticky Youtube Video js -->
    <script src="assets/js/youtube-video.js"></script>
    <!-- Sticky Wan Spinner js -->
    <script src="assets/js/wan-spinner.js"></script>
    <!-- Rater js -->
    <script src="assets/js/rater.min.js"></script>
    <!-- Tabs Steps js -->
    <script src="assets/js/jquery-steps.min.js"></script>
    <!-- Range Slider js -->
    <script src="assets/js/rangeslider.min.js"></script>
    <!-- Kinetic js -->
    <script src="assets/js/kinetic.js"></script>
    <!-- Final Countdown js -->
    <script src="assets/js/jquery.final-countdown.min.js"></script>
    <!-- datetimepicker js -->
    <script src="assets/js/jquery.datetimepicker.full.min.js"></script>
    <!-- Validate js -->
    <script src="assets/js/jquery.validate.min.js"></script>
    <!-- Plugin js -->
    <script src="assets/js/plugins.js"></script>
    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;"></script>
    <!-- Markerclusterer js -->
    <script src="assets/js/markerclusterer.js"></script>
    <!-- Maps js -->
    <script src="assets/js/maps.js"></script>
    <!-- Infobox js -->
    <script src="assets/js/infobox.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
</body>
</html>