<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Page Title -->
    <title>Qamous - Listing and Directory HTML Template</title>
    
    <!--- Font Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/icomoon.css">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Plugins css -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Theme Style -->
    <link rel="stylesheet" href="style.css">
    
    <!-- Modernizr js -->
    <script src="assets/js/modernizr.min.js"></script>
</head>
<body>
    <!--********************************************************-->
    <!--********************* SITE CONTENT *********************-->
    <!--********************************************************-->
    <div class="site-content">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Coming Soon Section
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="coming-soon-section ptb-180 bg-image bg-overlay-gradient" style="background-image:url('http://via.placeholder.com/1920x960')">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="coming-soon-content text-center">
                            <div class="site-logo">
                                <a href="index.html"><img src="assets/images/logo/coming-logo.png" alt="logo"></a>
                            </div><!--~~./ site-logo ~~-->
                            <h3 class="title">We are glad to see you, But please be patient, This page is under construcion.</h3>
                            <div class="countdown-area">
                                <div class="countdown text-white">
                                    <div class="clock-item clock-days countdown-time-value">
                                        <div class="wrap">
                                            <div class="inner">
                                                <div id="canvas-days" class="clock-canvas"></div>

                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="type-days type-time">DAY</p>
                                                </div><!-- /.text -->
                                            </div><!-- /.inner -->
                                        </div><!-- /.wrap -->
                                    </div><!-- /.clock-item -->

                                    <div class="clock-item clock-hours countdown-time-value">
                                        <div class="wrap">
                                            <div class="inner">
                                                <div id="canvas-hours" class="clock-canvas"></div>

                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="type-hours type-time">HOUR</p>
                                                </div><!-- /.text -->
                                            </div><!-- /.inner -->
                                        </div><!-- /.wrap -->
                                    </div><!-- /.clock-item -->
                                    <div class="clock-item clock-minutes countdown-time-value">
                                        <div class="wrap">
                                            <div class="inner">
                                                <div id="canvas-minutes" class="clock-canvas"></div>

                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="type-minutes type-time">MINUTE</p>
                                                </div><!-- /.text -->
                                            </div><!-- /.inner -->
                                        </div><!-- /.wrap -->
                                    </div><!-- /.clock-item -->
                                    <div class="clock-item clock-seconds countdown-time-value">
                                        <div class="wrap">
                                            <div class="inner">
                                                <div id="canvas-seconds" class="clock-canvas"></div>

                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="type-seconds type-time">SECOND</p>
                                                </div><!-- /.text -->
                                            </div><!-- /.inner -->
                                        </div><!-- /.wrap -->
                                    </div><!-- /.clock-item -->
                                </div>
                            </div><!--~./ countdown-area ~-->
                            
                            <div class="social-media-area">
                                <h4 class="title">Or Follow Us on</h4>
                                <ul class="social-share-two">
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul><!--~./ social-share ~-->
                            </div>
                        </div><!--~./ end coming soon content ~-->
                    </div>
                </div>
            </div>
        </section><!--~~./ end coming soon section ~~-->
    </div>
    <!--~./ end site content ~-->
    
    
    <!-- jQuery js -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Popper js -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Owl carousel js -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Masonary js -->
    <script src="assets/js/masonary.min.js"></script>
    <!-- Trackpad Scroll js -->
    <script src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <!-- Sticky ResizeSensor js -->
    <script src="assets/js/ResizeSensor.min.js"></script>
    <!-- Sticky Sidebar js -->
    <script src="assets/js/theia-sticky-sidebar.min.js"></script>
    <!-- Sticky Youtube Video js -->
    <script src="assets/js/youtube-video.js"></script>
    <!-- Sticky Wan Spinner js -->
    <script src="assets/js/wan-spinner.js"></script>
    <!-- Rater js -->
    <script src="assets/js/rater.min.js"></script>
    <!-- Tabs Steps js -->
    <script src="assets/js/jquery-steps.min.js"></script>
    <!-- Range Slider js -->
    <script src="assets/js/rangeslider.min.js"></script>
    <!-- Kinetic js -->
    <script src="assets/js/kinetic.js"></script>
    <!-- Final Countdown js -->
    <script src="assets/js/jquery.final-countdown.min.js"></script>
    <!-- datetimepicker js -->
    <script src="assets/js/jquery.datetimepicker.full.min.js"></script>
    <!-- Validate js -->
    <script src="assets/js/jquery.validate.min.js"></script>
    <!-- Plugin js -->
    <script src="assets/js/plugins.js"></script>
    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;"></script>
    <!-- Markerclusterer js -->
    <script src="assets/js/markerclusterer.js"></script>
    <!-- Maps js -->
    <script src="assets/js/maps.js"></script>
    <!-- Infobox js -->
    <script src="assets/js/infobox.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
</body>
</html>